@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");

/* Main: #27ae60
light: #93d7b0
Very light: #d4efdf;
dark: #1f8b4d

Greys:
#555
#333 */

:root {
  --primary-color: #27ae60;
  --light-color: #93d7b0;
  --very-light-color: #d4efdf;
  --dark-color: #1f8b4d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* makes 1rem = 10px */
  /* font-size: 10px;
  /* percentage of users browsers font-size setting: */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*  ------- */
/*  HEADER */
/*  ----- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-light-color);

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/*  ----------- */
/*  NAVIGATION */
/*  -------- */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--dark-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--primary-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--dark-color);
}

/*  ------------- */
/*  HERO SECTION */
/*  ----------- */

.section-hero {
  background-color: var(--very-light-color);
  padding: 2.4rem 0 9.6rem 0;
}

.hero {
  max-width: 140rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--very-light-color);
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--dark-color);
  font-weight: 700;
}

/*  -------------------- */
/*  FEATURED IN SECTION */
/*  ----------------- */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #666;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 60%;
}

/*  --------------------- */
/*  HOW IT WORKS SECTION */
/*  ------------------- */

.section-how {
  padding: 9.6rem 0;
  /* background-color: aquamarine; */
}

.step-img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--light-color);
}

.step-description {
  font-size: 1.6rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  /* The padding makes it square, height doens't work here so this is a trick */
  background-color: var(--very-light-color);
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--light-color);
}

/*  -------------- */
/*  MEALS SECTION */
/*  ------------ */

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  overflow: hidden;
}

.section-meals {
  padding: 9.6rem 0;
  /* background-color: aquamarine; */
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.6rem;
}

.meal-content {
  padding: 2.4rem 4rem 4rem 4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #555;
  border-radius: 100px;
  font-weight: 500;
}

.tag--vegetarian {
  background-color: #7affb1;
}

.tag--vegan {
  background-color: #95fca6;
}

.tag--paleo {
  background-color: #ffe17d;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-img {
  width: 100%;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--primary-color);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--primary-color);
}
